@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 200, 200, 220;
  --background-end-rgb: 255, 255, 255;
  --button-bg: 225, 225, 225;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button,
select {
  background-color: rgb(var(--button-bg));
  border: 1px solid rgb(var(--foreground-rgb));
  padding: 8px 12px;
  border-radius: 8px;
  text-transform: capitalize;
}

button:disabled {
  opacity: 0.5;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
}

h3 {
  text-transform: capitalize;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
